# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Environments
.venv/
venv/
ENV/

# Editors/OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log

# Local config
config.json
